save-prefix = ''

# pnpm run settings
# https://pnpm.io/npmrc#dedupe-direct-deps
dedupe-direct-deps = true
shell-emulator = true

# we're releasing from git tag
git-tag-version = false
git-checks = false
